<!-- <h1 [class.text-color]="bool">{{title}}</h1>
<h1 [style.color]="bool? 'red' :'blue' ">Style Binding</h1>
<app-navbar></app-navbar>
<app-post (secondGreeting)="greeting($event)" [fromParent]='parentMessage'></app-post>
<h2>{{postMessage}}</h2>
<button (click)="message()">Click</button>
<input type="text" (keyup.enter)="onKeyup(users.value )" #users> -->
<h3>Fetching using ngFor Directive</h3>
<p>{{postArray.at(0)}}</p>
<p>{{postArray.at(1)}}</p>
<p>{{postArray.at(2)}}</p>
<p>{{postArray.at(3)}}</p>

<p *ngFor="let post of postArray">{{ post }}</p>

<p>Change Detection</p>
<button (click)="addNew()">Add new Data</button>

<div *ngIf="objArray.length > 0; then postList else noData">
</div>
<ng-template #postList>
    <h3>Fetching Object Array</h3>
    <p *ngFor="let post of objArray; let i = index">{{ post.postTitle }}
        <button (click)="onDelete(i)">Delete</button>
    </p>
</ng-template>
<ng-template #noData>
    <p>There is no Data to fetch...</p>
</ng-template>

<app-post-form></app-post-form>