<!-- <h1 [class.text-color]="bool">{{title}}</h1>
<h1 [style.color]="bool? 'red' :'blue' ">Style Binding</h1>
<app-navbar></app-navbar>
<app-post (secondGreeting)="greeting($event)" [fromParent]='parentMessage'></app-post>
<h2>{{postMessage}}</h2>
<button (click)="message()">Click</button>
<input type="text" (keyup.enter)="onKeyup(users.value )" #users> -->
<p>{{postArray.at(0)}}</p>
<p>{{postArray.at(1)}}</p>
<p>{{postArray.at(2)}}</p>
<p>{{postArray.at(3)}}</p>

<p *ngFor="let post of postArray">{{post}}</p>
<app-post-form></app-post-form>
